{% include 'navbar.html' %}
{% load static %}
<style>
figure.homefig{
    float: left;
}
div.introBlock{
    float: left;
}
img.STITCHITImg{
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}
p {
    font-family: adhabi;
    font-size: 22px;
    text-align: justify;
    padding: 25px;
}
p.introduction{
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
blockquote {
    display: block;
    width: 600px;
    text-align: left;
    float: left;
}


</style>


<div class="introBlock">
<figure class="homefig">
<img class='STITCHITImg' src="{% static '/STITCHIT Placholder.png' %}" width="800px" alt = 'logo'/>
<figcaption>Insert descriptive text here <a href="http://dx.doi.org/10.1101/585125"> Preprint Here </a></figcaption>
</figure>


<blockquote>
<h2>Welcome to EpiRegioDB!</h2>
<p class='introduction'> Welcome to EpiRegioDB, the database you always dreamt of. Don't mind me,
I'm just the placeholder for the introductary text that will follow at some point. Well, and to
get an idea of how a longer text will look like here, me - the placeholder - got to be
sufficiently long. And here we are, more pointless words without any real meaning. By the
way, did you know that penguins actually have knees? They are just located very high, somewhat where
we would say their chest is. </p></blockquote>

<blockquote>
<h2 class="getstarted">Get Started: </h2>
<p class='introduction getstarted'> You can query the database for REMs using Gene IDs or Gene Regions. Alternatively,
    you can look up for specific REMs. For more support visit our Help page, which includes a short video tutorial.
    If you have questions or comments please let us know, we'd be glad to hear them.
</p></blockquote>
</div>



