{% load static %}
<script src="{% static 'jQuery 3.4.1.js' %}"></script>

<!--Navigation Bar to be included at the top of every site-->

<style>

ul.menu {
  list-style-type: none;
  overflow: hidden;
  margin-left: 4em;
}

li.menu {
  float: left;
}

li a.menu {
  font-family: adhabi;
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

li.side-menu{
    float: right;
    padding-right: 20px;
}

li a:hover {
  background-color: #000000;
}

caption{
    font-family: adhabi;
    font-size: 24;
    text-align: left;
    font-weight: bold;
}

img{
    margin-top: 20px;
}

nav.one{
    width: 100%;
    background: linear-gradient(to left top, #0d6980 0%,  #073946 60%);
}

nav.two{
    width: 100%;
    background: linear-gradient(to left top, #0d6980 0%,  #073946 60%);
}

nav.three{
    width: 100%;
    background: linear-gradient(to left top, #0d6980 0%,  #073946 60%);
}

nav.four{
    width: 100%;
    background: linear-gradient(to left top, #0d6980 0%,  #073946 60%);
}

nav.five{
    width: 100%;
    background: linear-gradient(to left top, #0d6980 0%,  #073946 60%);
}

nav.six{
    width: 100%;
    background: linear-gradient(to left top, #0d6980 0%,  #073946 60%);
}


</style>
<img src="{% static 'Logo EpiRegio2.png' %}" width="400px" alt = 'logo'/>

<nav class="one">
    <ul class="menu">
        <li class="menu"><h1><a class="menu" href="../">1 Home </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/geneQuery"> Gene ID </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/regioQuery"> Gene Region </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/enhancerQuery"> Enhancer </a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/contact">Contact</a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/help">Help</a></h1></li>
    </ul>
</nav>


<img src="{% static 'Logo EpiRegio2.png' %}" width="400px" alt = 'logo'/>

<nav class="two">
    <ul class="menu">
        <li class="menu"><h1><a class="menu" href="../">2 Home </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/geneQuery"> Gene ID </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/regioQuery"> Gene Region </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/enhancerQuery"> Enhancer </a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/contact">Contact</a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/help">Help</a></h1></li>
    </ul>
</nav>


<img src="{% static 'Logo EpiRegio2.png' %}" width="400px" alt = 'logo'/>

<nav class="three">
    <ul class="menu">
        <li class="menu"><h1><a class="menu" href="../">3 Home </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/geneQuery"> Gene ID </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/regioQuery"> Gene Region </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/enhancerQuery"> Enhancer </a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/contact">Contact</a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/help">Help</a></h1></li>
    </ul>
</nav>


<img src="{% static 'Logo EpiRegio2.png' %}" width="400px" alt = 'logo'/>

<nav class="four">
    <ul class="menu">
        <li class="menu"><h1><a class="menu" href="../">4 Home </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/geneQuery"> Gene ID </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/regioQuery"> Gene Region </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/enhancerQuery"> Enhancer </a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/contact">Contact</a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/help">Help</a></h1></li>
    </ul>
</nav>


<img src="{% static 'Logo EpiRegio2.png' %}" width="400px" alt = 'logo'/>

<nav class="five">
    <ul class="menu">
        <li class="menu"><h1><a class="menu" href="../">5 Home </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/geneQuery"> Gene ID </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/regioQuery"> Gene Region </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/enhancerQuery"> Enhancer </a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/contact">Contact</a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/help">Help</a></h1></li>
    </ul>
</nav>


<img src="{% static 'Logo EpiRegio2.png' %}" width="400px" alt = 'logo'/>

<nav class="six">
    <ul class="menu">
        <li class="menu"><h1><a class="menu" href="../">6 Home </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/geneQuery"> Gene ID </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/regioQuery"> Gene Region </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/enhancerQuery"> Enhancer </a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/contact">Contact</a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/help">Help</a></h1></li>
    </ul>
</nav>
