{% include 'navbar.html' %}
{% load static %}




<!-- INCLUDE STYLES AND FUNCTIONALITY ---------------------------------------------------------------------------------- -->

<head>
    <script src="{% static 'collected_JS_functions.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">
    <script src="{% static 'ajax_cellTypes.js' %}"></script>
</head>


<!-- INITIATE INPUT FORM ---------------------------------------------------------------------------------- -->

<form id='regionQuery_forms' class='django_forms' method="POST" action="/regionQuery_search/" autocomplete="off">
{% csrf_token %}

<h1 class="queryDescription"><u>Look up Regulatory Elements in gene regions:</u></h1>
    <br>

<!-- GET REGION ---------------------------------------------------------------------------------- -->
<div>
    <table class="regionQueryTable">
        <tr>
            <td><h1 class="inputLabel">Chromosome:</h1>
            <td><h1 class="inputLabel"> Start:</h1></td>
            <td><h1 class="inputLabel"> End:</h1></td>
        </tr>

        <tr>
            <td><input class="inputForm" id="chrField" name="chrField" type="number" placeholder="E.g. 12"/></td>
            <td><input class="inputForm" id="chrStart" name="chrStart" type="number" placeholder="E.g. 75460856" min="0"/></td>
            <td><input class="inputForm" id="chrEnd" name="chrEnd" type="number" placeholder="E.g. 75460955" min="0"/></td>
            <td><button type="button" class="ajax_search_list" id="selectRegionButton" onclick="chooseRegion()">Select&nbsp;region </button></td>
        </tr>
        <tr>
            <td colspan="3">
            <p class="selectionHeader" id="container_geneRegionsHeader"> Currently selected:</p>
            <div class ="selectedButtons" id="container_geneRegions" style="padding-bottom: 2em;"></div></td>
        </tr>

        <tr>
            <td colspan="2">
            <h1 class='inputLabel' id="fieldname">Filter for cell types:</h1>
                {% csrf_token %}
            <input class='inputForm' type="text" id="search" name="search" placeholder="Leave empty to look up for all cell types" />
            </td>
            <td colspan="3" class="searchButtons" height="100px" width="800px">
                <div class="ajax_search_list" id="search-results"></div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
            <p class="selectionHeader" id="container_cellTypesHeader"> Currently selected:</p>
            <div class ='selectedButtons' id="container_cellTypes"> </div>
            </td>
        </tr>
</table>
</div>
<br>
<br>
<br>

<!-- SUBMIT FORM ---------------------------------------------------------------------------------- -->

<input type="hidden" id="geneRegions" name="geneRegions">
<input type="hidden" id="cellTypes" name="cellTypes" />
<input class="query_database" onclick='ButtonsToInput("container_geneRegions", "geneRegions"); ButtonsToInput("container_cellTypes", "cellTypes")' type="submit" name="Save" value="Query Database"  />

</form>



